---
import type { CollectionEntry } from 'astro:content'
import Badge from './ui/badge.astro'
import Button from './ui/button.astro'
import CardContent from './ui/card/card-content.astro'
import Card from './ui/card/card.astro'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'

interface Props {
  post: CollectionEntry<'blogs'>
}

const { post } = Astro.props

const category = (
  await getCollection(
    'categories',
    (entry) => entry.data.id == post.data.category.id
  )
).at(0)?.data
---

<Card>
  <a href={`/blogs/${category?.handle}/${post.data.handle}`}>
    {
      post.data.image && (
        <Image
          src={post.data.image}
          alt={post.data.title}
          width={600}
          height={400}
          decoding='async'
          loading='lazy'
          class='w-full h-64 md:h-96 object-cover rounded-lg mb-6'
        />
      )
    }
    <CardContent>
      <Badge>{category?.name}</Badge>
      <h2 class='headline-h3'>{post.data.title}</h2>
      <Button variant='secondary'>Read more</Button>
    </CardContent>
  </a>
</Card>
